

/* CSS VARIABLES */
:root{
    --lt-green: #969696;
    --md-green: #e67e2f;
    --dk-green: #0b390e;
    --lt-brown: #9c9c9c;
    --md-brown: #6b6b6b;
    --dk-brown: #292929;
    --red: #e60808;
    --white: #161616;
    --type: #ffffff;
    --black: #000000;
    --bg: rgba(0, 0, 0, 0.4);

    --fonts: 'Special Elite', 'Courier New', monospace;    
    --p-font: 'Montserrat', Arial, sans-serif;
}

/* CSS START */

body {
    background: /*url("images/forest.svg")*/ var(--white);
    font-family: var(--fonts);
	line-height: 1.5;
    padding: 0;
    margin: 0;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 10rem; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
  
  /* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: var(--type);
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: var(--md-green);
}

.sidenav img{
    padding: 0 30px;
}

.sidenav p{
    font-size: 20px;
    color: #818181;
    display: flex;
    justify-content: center;
}

header{
    background-color: var(--dk-brown);

    padding: 1rem 0;
    width: 91%;
    margin: 0 0 0 10rem;

    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 2; /* Stay on top */
    top: 0; /* Stay at the top */
}

main{
    background-color: var(--white);
    padding: 4rem 0;
    width: 91%;
    margin: 0 0 0 10rem;
}

p{
    color: var(--type);
}

a{
    text-decoration: none;
}

.active{
    background-color: var(--lt-brown);
   /* border-color: var(--md-green); */
   /* color: var(--dk-green);*/
}

/* Header Styles */

header{
    padding: 0;
    background-color: var(--dk-brown);
    border-bottom: none;
}

header a:focus{
    outline: 3px solid var(--md-green);
}

header div{
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin: auto 3.5rem;
    gap: 5rem;
}

h1{
    color: var(--type);
    font-size: 20px;
    width: 500px;
    grid-column: 1/2;
}

nav{
    grid-column: 2/4;
}

nav ul{
    list-style-type: none;
    display: flex;
	text-align: center;
    gap: 1rem;
    padding: 0 0 0 0;
    justify-content: flex-end;
    font-family: var(--p-font);
}

nav a{
    color: var(--dk-brown);
	background-color: var(--white);
	padding: 5px;
	border: 3px solid var(--black);
	border-radius: .25rem;
    font-size: 15px;
    font-weight: 600;
}

nav a:hover{
    color: var(--white);
	background-color: var(--dk-brown);
    border: 3px solid var(--white);
}

nav a:focus{
    outline: 3px solid var(--md-green);
}

header img{
    width: 100%;
}

/* Main Styles */

#intro{
    padding: 0 2rem 2rem 2rem;
    margin: 4rem 20rem 0 1rem;
}

h2{
    font-size: 2rem;
    text-align: center;
    color: var(--type);
}

#intro p{
    padding: 0 3rem;
    font-family: var(--p-font);
    font-weight: 500;
    font-size: 1rem;
}

#intro h2{
    padding: .5rem 0;
    margin: 0 10rem;
	background-color: var(--dk-brown);
    border-radius: .25rem;
}

#intsid{
    display: flex;
    align-items: center;
}

#intsid img{
    width: 20rem;

}

#intsid p{
    margin: 1.5rem 40px 0 0;
}

h3{
    font-size: 1.5rem;
    padding: 1rem;
    margin: 3rem 3rem;

    color: var(--type);
	background-color: var(--dk-brown);
    border: 3px solid var(--dk-brown);
    border-radius: .25rem;
    text-align: center;
}



/* Print Works Section */

#charas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px 15px;
    padding: 0 2rem 2rem 2rem;
    align-items: center;
    margin: 0 20rem 0 0;
}

#charas h3{
    grid-column: 1/-1;
    grid-row: 1/-1;
    margin: 30px 15rem 10px 15rem;
}

#charas p{
    padding: 0 1rem;
}

#charas a{
    color: var(--type);
    text-align: center;
    font-size: 1.75rem;
}

#charas img{
    width: 15rem; 
    height: 15rem; 
    object-fit: cover;
    object-position: 10% 10%; 
    background-color: var(--dk-brown);
    padding: 20px 20px 0 20px;
    border: 3px solid var(--dk-brown);
}

#charas img:hover{
    border: 3px solid var(--md-green);
    transition: .25s ease;
    position: relative; 
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 2px;
}

#charas div{
    background-color: var(--white);
    padding: 2rem 1rem 1rem 1rem;
    border-radius: 1rem;
}

#side{
    display: flex;
    align-items: center;
}

#side p{
    margin-right: 3rem;
}

.content h3{
    margin: 40px;
    font-size: 3rem;
}



#center{
    margin: auto;
    display: flex;
    justify-content: center;
}

#center img:hover{
    transition: .125s ease;
    transform: scale(2);
    z-index: 2;
}

#single{
    margin: auto;
    display: flex;
    justify-content: center;
}

#single img{
    height: auto;
    width: 65rem;
}

#single:hover{
    transition: .125s ease;
    transform: scale(1.25);
    z-index: 2;
}

#nohover{
    margin: auto;
    display: flex;
    justify-content: center;
}

#nohover img{
    height: auto;
    width: 65rem;
}

.about{
    margin: 2rem 0;
    padding: 20px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-height: 8rem;
    border: 3px solid var(--black);
    border-radius: .25rem;
}

.about h5{
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

.about p{
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

#button{
    position: absolute;
    top: 0px;
    right: 30px;
    font-size: 5rem;
    text-decoration: none;
}

#button:hover { 
    color: #e60808 !important; 
} 

.arrows{
   display: flex;
   gap: 90px;
   align-items: center;
   justify-content: center;
   background-color: var(--black);
   border: 3px solid var(--black);
   border-radius: .25rem;
   margin: 0 40px;
}

#button2:hover { 
    color: #e60808 !important; 
} 

#button2{
    position: relative;
    font-size: 5rem;
    text-decoration: none;
    color: inherit;
}

#button3:hover { 
    border: 3px solid var(--md-green);
    color: var(--md-green) !important;
    transition: .25s ease;
    position: relative; 
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 2px;
} 

/* Footer */

footer{
    background-color: var(--dk-brown);

    padding: 1rem 0;
    width: 91%;
    margin: 0 0 0 10rem;

    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    bottom: 0; /* Stay at the top */
}

footer p{
    line-height: 1.5;
    text-align: center;
    margin: auto;
	font-weight: bold;
	color: var(--type);
}

footer h3{
    background-color: var(--white); 
    color: var(--black);
}

footer div{
    border: none !important;
}

#FOOT h3:hover{
    transition: .25s ease;
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 2px;
    color: var(--white);
	background-color: var(--dk-brown);
    border: 3px solid var(--white);
}





/* CHARACTER PAGE */

.charagrid{
    margin: 0 5rem 5rem 5rem;
    padding: 20px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    justify-items: center;
}

.charagrid h4{
    font-size: 2rem;
    margin: 1rem 0;
    color: var(--type);
    border-bottom: 3px solid var(--type);
}

#subtitle{
    display: inline-flex;
    font-size: 1rem;
    font-style: italic;
    font-family: var(--p-font);
}

.charagrid h5{
    font-size: 1.75rem;
    padding: 0;
    margin: 1rem 0 0 0;
    color: var(--type);
}

.charagrid p, li{
    color: var(--type);
    font-size: 20px;
    padding: 0;
    margin: 0;
    font-family: var(--p-font);
}

.charagrid a{
    color: var(--md-green);
}

.charagrid a:hover{
    color: rgb(249, 181, 156);
}

span{
    color: var(--black);
    background-color: var(--black);
}

span:hover{
    transition: .2s;
    color: var(--type);
    background-color: var(--black);
}


.left{
    grid-column: 1 / 4;
    grid-row: -1 / 1;
}

.right{
    grid-column: 4 / 6;
    /* grid-row: 1 / 3; */
    width: 300px;
    border: 3px solid var(--type);
    text-align: center;
}

.right nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    color: var(--type);
    margin-top: 0;

    padding: 10px 0;
    border-bottom: 3px solid var(--type);
}

.right a{
    color: var(--type);
    border: 3px solid var(--white);
    background-color: none;
}

.right a:hover{
    color: var(--black);
    border: 3px solid var(--white);
    background-color: var(--md-green);
}

.right img{
    border-bottom: 3px solid var(--type);
    width: 100%;
}

.right h4{
    font-size: 1.5rem;
    margin: 0;
    padding: 0 0 10px 0;
}

.right h5{
    font-size: 1.25rem;
    margin: 0;
    padding: 10px 0;
    border-top: 3px solid var(--type);
}

#key ul{
    padding: 0 2rem 0 2.5rem;
    text-align: left;
}

#key li{
    text-align: left !important;
}

.right p{
    padding: 0 1.5rem 15px 1.5rem;
    text-align: left;
}

.figure {
    position: relative;
    width: 360px; /* can be omitted for a regular non-lazy image */
    max-width: 100%;
}

.figure img#alt-profile {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
}

img#alt-profile:target {
    opacity: 1;
    background-color: var(--white);
}
